<!--You can add images to your website by using the img element, and point to a 
specific image's URL using the src attribute.
All img elements must have an alt attribute. The text inside an alt attribute is
used for screen readers to improve accessibility and is displayed if the image fails to load.-->


<h2>CatPhotoApp</h2>

<main>
    <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching 
        attack your ankles chase the red dot, hairball run catnip eat the grass sniff</p>
    
    <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip 
        the couch sleep in the sink fluffy fur catnip scratched</p>

    <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">
</main>
