<!--Create a Set of CheckboxesPassed
Forms commonly use checkboxes for questions that may have more than one answer.
Checkboxes are a type of input.
Each of your checkboxes can be nested within its own label element. 
By wrapping an input element inside of a label element it will automatically associate
the checkbox input with the label element surrounding it.
All related checkbox inputs should have the same name attribute.
It is considered best practice to explicitly define the relationship between a checkbox 
input and its corresponding label by setting the for attribute on the label element to 
match the id attribute of the associated input element.-->

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>
    <li>other cats</li>
  </ol>
  <form action="https://freecatphotoapp.com/submit-cat-photo">
    <label for="indoor">
        <input id="indoor" type="radio" name="indoor-outdoor" value="indoor"> Indoor</label>
    <label for="outdoor">
        <input id="outdoor" type="radio" name="indoor-outdoor" value="outdoor" checked> Outdoor</label><br>
    <!--Checkboxes-->
    <label for="loving">
        <input id="loving" type="checkbox" name="personality" value="loving"> Loving</label>
    <label for="lazy">
        <input id="lazy" type="checkbox" name="personality" value="lazy" checked> Lazy</label>
    <label for="energetic">
        <input id="energetic" type="checkbox" name="personality" value="energetic"> Energetic</label><br>
    <input type="text" placeholder="cat photo URL" required>
    <button type="submit">Submit</button>
  </form>
</main>