<!--HTML5 introduces more descriptive HTML tags. These include main, header, footer, nav, 
video, article, section and others.
These tags give a descriptive structure to your HTML, make your HTML easier to read, 
and help with Search Engine Optimization (SEO) and accessibility. The main HTML5 tag helps 
search engines and other developers find the main content of your page.-->

<h2>CatPhotoApp</h2>

<main>
    <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching 
        attack your ankles chase the red dot, hairball run catnip eat the grass sniff</p>
    
    <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip 
        the couch sleep in the sink fluffy fur catnip scratched</p>
</main>
