<!--Create a Form ElementPassed
You can build web forms that actually submit data to a server using nothing more than pure HTML. 
You can do this by specifying an action attribute on your form element.
Nest the existing input element inside a form element and assign
"https://freecatphotoapp.com/submit-cat-photo" to the action attribute of the form element.-->

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>
    <li>other cats</li>
  </ol>
  <!--Form Element-->
  <form action="https://freecatphotoapp.com/submit-cat-photo">
    <input type="text" placeholder="cat photo URL">
  </form>
</main>