<!--Headline with the h2 ElementPassed
Over the next few lessons, we'll build an HTML5 cat photo web app piece-by-piece.
The h2 element you will be adding in this step will add a level two heading to the web page.
This element tells the browser about the structure of your website. h1 elements are often used 
for main headings, while h2 elements are generally used for subheadings. There are also h3, h4, h5 
and h6 elements to indicate different levels of subheadings.-->

<h1>Hello World</h1>
<h2>CatPhotoApp</h2>
