<!--You can use a (anchor) elements to link to content outside of your web page.
a elements need a destination web address called an href attribute.-->

<h2>CatPhotoApp</h2>

<main>
    <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching 
        attack your ankles chase the red dot, hairball run catnip eat the grass sniff</p>
    
    <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip 
        the couch sleep in the sink fluffy fur catnip scratched</p>

    <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

    <a href="https://freecatphotoapp.com" target="_blank">cat photos</a>
</main>