<!--Nest an Anchor Element within a ParagraphPassed
You can nest links within other text elements.
Let's break down the example. Normal text is wrapped in the p element:
target is an anchor tag attribute that specifies where to open the link. 
The value _blank specifies to open the link in a new tab. 
The href is an anchor tag attribute that contains the URL address of the link:
The text, link to freecodecamp.org, within the a element is called anchor text, 
and will display the link to click:
Nest the existing a element within a new p element. The new paragraph should have text that says 
View more cat photos, where cat photos is a link, and the rest is plain text.-->

<h2>CatPhotoApp</h2>
<main>

  <p>View more cat photos <a href="https://freecatphotoapp.com" target="_blank">cat photos</a></p>

  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
  <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy fur catnip scratched.</p>
</main>