<!--Create an Ordered ListPassed
HTML has another special element for creating ordered lists, or numbered lists.
Ordered lists start with an opening <ol> element, followed by any number of <li> elements. 
Finally, ordered lists are closed with the </ol> tag.
Create faster tag ol, li, ul, example ul>li*5-->

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <!--Ordered List-->
  <p>Top 3 things cats hate:</p>
  <ol>
      <li>Dogs</li>
      <li>milk</li>
      <li>mouse</li>
  </ol>
</main>