<!--Inform with the Paragraph ElementPassed
p elements are the preferred element for paragraph text on websites. p is short for "paragraph".
Web developers traditionally use lorem ipsum text as placeholder text-->

<h1>Hello World</h1>

<h2>CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff</p>
