<!--Create a Set of Radio ButtonsPassed
You can use radio buttons for questions where you want the user to only give you 
one answer out of multiple options.
Radio buttons are a type of input.
Each of your radio buttons can be nested within its own label element. By wrapping 
an input element inside of a label element it will automatically associate the radio button 
input with the label element surrounding it.
All related radio buttons should have the same name attribute to create a radio button group.
By creating a radio group, selecting any single radio button will automatically deselect the 
other buttons within the same group ensuring only one answer is provided by the user.
It is considered best practice to set a for attribute on the label element, with a value 
that matches the value of the id attribute of the input element. This allows assistive 
technologies to create a linked relationship between the label and the child input element-->

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>
    <li>other cats</li>
  </ol>
  <form action="https://freecatphotoapp.com/submit-cat-photo">
    <!--Radio Buttons-->
    <label for="indoor">
        <input type="radio" id="indoor" name="indoor-outdoor">Indoor
    </label>
    <label>
        <input type="radio" id="outdoor" name="indoor-outdoor">Outdoor
    </label><br> <!--tag br for space between rows-->
    <input type="text" required placeholder="cat photo URL">
    <button type="submit">Submit</button>
  </form>
</main>
